{% extends 'base.html' %}
{% import '_macros.html' as macros %}
{% block title %} Add a Cafe {% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="container pt-3">
	<form method="POST" action="{{ url_for('add_cafe') }}" novalidate>
		{{ form.csrf_token() }}
			{% for field in form if field.type == "StringField" and field.name != "seats" and field.name != "location" %}
				{{ macros.render_form_field(field, "mb-3", "form-label", "form-control") }}
			{% endfor %}
		<div class="container px-0 mb-3">
			<div class="row">
				{{ macros.render_form_field(form.location, "col-sm-4 mb-3", "form-label", "form-control") }}
				{{ macros.render_form_field(form.seats, "col-sm-4 mb-3", "form-label", "form-control") }}
				{{ macros.render_form_field(form.coffee_price, "col-sm-4 mb-3", "form-label", "form-control") }}
			</div>
		</div>
		<div class="container px-0 mb-3">
			<div class="row justify-content-center">
			{% for field in form if field.type == "BooleanField" %}
				{{ macros.render_form_field(field, "col-sm", "form-check-label", "form-check-input") }}
			{% endfor %}
			</div>
		</div>
		<div class="d-grid gap-2 col-2 py-3">
		{{ form.submit(class_="btn btn-outline-dark btn-lg")}}
		</div>
	</form>
</div>

{% endblock %}
{% set home_button = True %}
{% set api_button = True %}