<div class="container-fluid g-0">
<header class="d-flex flex-wrap justify-content-center py-3 px-3 mb-4 cnavbar">
      <a href="{{ url_for('home') }}" class="d-flex align-items-center mb-0 me-auto link-body-emphasis text-decoration-none">
        <span class="fs-4 align-middle cnav-text">Coffee and Wi-fi</span>
      </a>

      <ul class="nav nav-pills">
          {% if home_button %}
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link cnav-text">Home</a></li>
          {% endif %}
          {% if add_button %}
        <li class="nav-item"><a href="{{ url_for('add_cafe') }}" class="nav-link cnav-text">Add a Cafe</a></li>
          {% endif %}
          {% if api_button %}
          <li class="nav-item"><a href="{{ url_for('api_doc') }}" class="nav-link cnav-text">API</a></li>
          {% endif %}
      </ul>
</header>
</div>